
/** {
  margin: 0;
  padding: 0;
}*/




/*you can use alsofor the picture list so when the screen change it stays in one position*/






 /*  
   animation:  rainbow 5s infinite;
   scroll-behavior: smooth;
   scroll-padding-left: 50px;
   scroll-padding-inline: 50;
*/
   



 /** {
   margin: 0;
   padding: 0;
 }*/
 
 
 
 /*you can use alsofor the picture list so when the screen change it stays in one position*/
 
 
 
.html{
    -webkit-font-smotthing: antialiased;
    margin: auto;
}
 * {
   margin: 0;
   padding: 0;
 }
 
 
 body{
     background-color:rgba(255, 217, 0, 0.616);
 }
 .elements {
   display: flex;
   justify-content: space-evenly;
     list-style: none;
   padding-top: 10px;
     padding-bottom: 10px;
     color: whitesmoke;
     font-weight: 500;
   font-size: 20px;
     background-color: #89a0ce;
   transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
   
  
 }
 
 .rows {
     cursor: pointer;
 }
 
 .span {
   width: 30px;
   height: 4px;
   background-color: black;
   margin-bottom: 5px;
     border-radius: 2px;
   transition: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
 }
 
 .burgerDiv {
   display: none;
 }
 
 @media (max-width: 450px) {
     .elements {
     flex-direction: column;
         align-items: center;
     position: absolute;
     margin: 0;
         padding: 20px;
         width: 35%;
     height: 100%;
     transform: translateX(-100%);
   }
 
   .burgerDiv {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-left: 20px;
     padding-top: 20px;
   }
 }
 
 .sidebar {
   transform: translateX(4px);
 }
 
 .line-0 {
   transform: rotate(45deg) translate(4.5px, 12px);
 }
 
 .line-1 {
   transform: scale(0);
 }
 
 .line-2 {
   transform: rotate(-45deg) translateY(-7.5px);
 }
 
 
 /*you can use alsofor the picture list so when the screen change it stays in one position*/
 
 
 


.block .block1 :hover{
    transform: scale(1.02);
}
.block .block1 {
    text-decoration: underline;
    animation: rainbow  5s infinite;
}
.block :hover {
  transform: scale(1.02);
 
}
.block {
    transition: all 0.4s ease-in-out;
    
}
.container {
    border-style: dashed;
    
}



.block{
   
    background-color: rgb(247, 50, 0);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-spacing: 100px;
    border-radius: 15px;
    transition: all 0.4s ease-in-out;
    box-shadow: 20px 20px 20px 20px #37e0e6;

}

h1{
    text-align: center;
}
h2{
  text-align: center;
}
h3{
    text-align: center;
}
.languages{
    text-align: center;
}
.languages ol{
    list-style: none;
}

.hobbies {
    text-align: center;
}
.hobbies  :hover{
  animation: rainbow duration ease-in-out 5s 2s direction fill-mode;
}
#skills ol {
    text-align: center;
    list-style: none;
}
.contact ol{
    text-align: center;
    list-style: none;
}
footer{
    animation: rainbow 5s infinite;
}
.list{
   
    display: flex;
   shape-image-threshold: initial;
   transition: all;
   transition-duration: 10s;
   animation: both;
   
}


p {
    text-align: center;
}



ol .one{
    
    transition: all 0.4s ease-in-out;
}
ol .two{
    
    transition: all 0.4s ease-in-out;
}
/*ol .tree{
    
    transition: all 0.4s ease-in-out;
}
ol .four{
   
    transition: all 0.4s ease-in-out;
}
ol .five{
  
    transition: all 0.4s ease-in-out;
}
*/
ol .one :hover {
    transform: scale(1.32);
    animation: rotate 6s infinite;
}
ol .two :hover{
    transform: scale(1.32);
    animation: rotate 6s infinite;
}
/*ol .tree :hover{
    transform: scale(1.32);
    animation: rotate 6s infinite;
}
ol .four :hover{
    transform: scale(1.32);
    animation: rotate 6s infinite;
}
ol .five :hover{
    transform: scale(1.32);
    animation: rotate 6s infinite;
}*/
@keyframes rainbow {
    14% {
      color: red;
    }
    28% {
      color: darkviolet;
    }
    42% {
      color: olivedrab;
    }
    56% {
      color: green;
    }
    70% {
      color: cyan;
    }
    84% {
      color: blue;
    }
    100% {
      color: purple;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  








  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }

  @-webkit-keyframes snowflakes-fall{
      0%{
          top:-10%
        }
        100%{
            top:100%
        }
    }
    @-webkit-keyframes snowflakes-shake{
        0%{
            -webkit-transform:translateX(0px);
            transform:translateX(0px)
        }
        50%{
            -webkit-transform:translateX(80px);
            transform:translateX(80px)
        }
        100%{
            -webkit-transform:translateX(0px);
            transform:translateX(0px)
        }
    }@keyframes snowflakes-fall{
        0%{
            top:-10%}100%{top:100%
        }
    }@keyframes snowflakes-shake{
        0%{transform:translateX(0px)
        }
        50%{transform:translateX(80px)
        }
        100%{transform:translateX(0px)
        }
    }
    .snowflake{
        position:fixed;
        top:-10%;
        z-index:9999;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        cursor:default;
        -webkit-animation-name:snowflakes-fall,snowflakes-shake;
        -webkit-animation-duration:10s,3s;
        -webkit-animation-timing-function:linear,ease-in-out;
        -webkit-animation-iteration-count:infinite,infinite;
        -webkit-animation-play-state:running,running;
        animation-name:snowflakes-fall,snowflakes-shake;
        animation-duration:10s,3s;
        animation-timing-function:linear,ease-in-out;
        animation-iteration-count:infinite,infinite;
        animation-play-state:running,running
    }
    .snowflake:nth-of-type(0){
        left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s
    }
    .snowflake:nth-of-type(1){
        left:10%;
        -webkit-animation-delay:1s,1s;
        animation-delay:1s,1s
    }
    .snowflake:nth-of-type(2){
        left:20%;
        -webkit-animation-delay:6s,.5s;
        animation-delay:6s,.5s
    }
    .snowflake:nth-of-type(3){
        left:30%;
        -webkit-animation-delay:4s,2s;
        animation-delay:4s,2s
    }
    .snowflake:nth-of-type(4){
        left:40%;
        -webkit-animation-delay:2s,2s;
        animation-delay:2s,2s
    }
    .snowflake:nth-of-type(5){
        left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;		
}