
* {
  margin: 0;
  padding: 0;
}




/*you can use alsofor the picture list so when the screen change it stays in one position*/






 /*  
   animation:  rainbow 5s infinite;
   scroll-behavior: smooth;
   scroll-padding-left: 50px;
   scroll-padding-inline: 50;
*/
   



 /** {
   margin: 0;
   padding: 0;
 }*/
 
 
 
 /*you can use alsofor the picture list so when the screen change it stays in one position*/
 
 
 
*{
    -webkit-font-smotthing: antialiased;
    margin: auto;
}
 .topnav {
  background-color: rgb(243, 11, 11);
  overflow: hidden;
  
}
.topnav a {
  float: left;
  display: block;
  align-content: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.topnav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 450px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 200px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
 /*you can use alsofor the picture list so when the screen change it stays in one position*/
 
 
 


.block .block1 :hover{
    transform: scale(1.02);
}
.block .block1 {
    text-decoration: underline;
    animation: rainbow  5s infinite;
}
.block :hover {
  transform: scale(1.02);
 
}
.block {
    transition: all 0.4s ease-in-out;
    
}
.container {
    border-style: dashed;
    
}



.block{
   
    background-color: rgb(0, 247, 235);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-spacing: 100px;
    border-radius: 15px;
    transition: all 0.4s ease-in-out;
    box-shadow: 20px 20px 20px 20px #37e0e6;

}

h1{
    text-align: center;
}
h2{
  text-align: center;
}
h3{
    text-align: center;
}
.languages{
    text-align: center;
}
.languages ol{
    list-style: none;
}

.hobbies {
    text-align: center;
}
.hobbies  :hover{
  animation: rainbow duration ease-in-out 5s 2s direction fill-mode;
}
#skills ol {
    text-align: center;
    list-style: none;
}
.contact ol{
    text-align: center;
    list-style: none;
}
footer{
    animation: rainbow 5s infinite;
}
.list{
   
    display: flex;
   shape-image-threshold: initial;
   transition: all;
   transition-duration: 10s;
   animation: both;
   
}


p {
    text-align: center;
}



ol .one{
    
    transition: all 0.4s ease-in-out;
}
ol .two{
    
    transition: all 0.4s ease-in-out;
}
/*ol .tree{
    
    transition: all 0.4s ease-in-out;
}
ol .four{
   
    transition: all 0.4s ease-in-out;
}
ol .five{
  
    transition: all 0.4s ease-in-out;
}
*/
ol .one :hover {
    transform: scale(1.32);
    animation: rotate 6s infinite;
}
ol .two :hover{
    transform: scale(1.32);
    animation: rotate 6s infinite;
}
/*ol .tree :hover{
    transform: scale(1.32);
    animation: rotate 6s infinite;
}
ol .four :hover{
    transform: scale(1.32);
    animation: rotate 6s infinite;
}
ol .five :hover{
    transform: scale(1.32);
    animation: rotate 6s infinite;
}*/
@keyframes rainbow {
    14% {
      color: red;
    }
    28% {
      color: darkviolet;
    }
    42% {
      color: olivedrab;
    }
    56% {
      color: green;
    }
    70% {
      color: cyan;
    }
    84% {
      color: blue;
    }
    100% {
      color: purple;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  








  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }

  @-webkit-keyframes snowflakes-fall{
      0%{
          top:-10%
        }
        100%{
            top:100%
        }
    }
    @-webkit-keyframes snowflakes-shake{
        0%{
            -webkit-transform:translateX(0px);
            transform:translateX(0px)
        }
        50%{
            -webkit-transform:translateX(80px);
            transform:translateX(80px)
        }
        100%{
            -webkit-transform:translateX(0px);
            transform:translateX(0px)
        }
    }@keyframes snowflakes-fall{
        0%{
            top:-10%}100%{top:100%
        }
    }@keyframes snowflakes-shake{
        0%{transform:translateX(0px)
        }
        50%{transform:translateX(80px)
        }
        100%{transform:translateX(0px)
        }
    }
    .snowflake{
        position:fixed;
        top:-10%;
        z-index:9999;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        cursor:default;
        -webkit-animation-name:snowflakes-fall,snowflakes-shake;
        -webkit-animation-duration:10s,3s;
        -webkit-animation-timing-function:linear,ease-in-out;
        -webkit-animation-iteration-count:infinite,infinite;
        -webkit-animation-play-state:running,running;
        animation-name:snowflakes-fall,snowflakes-shake;
        animation-duration:10s,3s;
        animation-timing-function:linear,ease-in-out;
        animation-iteration-count:infinite,infinite;
        animation-play-state:running,running
    }
    .snowflake:nth-of-type(0){
        left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s
    }
    .snowflake:nth-of-type(1){
        left:10%;
        -webkit-animation-delay:1s,1s;
        animation-delay:1s,1s
    }
    .snowflake:nth-of-type(2){
        left:20%;
        -webkit-animation-delay:6s,.5s;
        animation-delay:6s,.5s
    }
    .snowflake:nth-of-type(3){
        left:30%;
        -webkit-animation-delay:4s,2s;
        animation-delay:4s,2s
    }
    .snowflake:nth-of-type(4){
        left:40%;
        -webkit-animation-delay:2s,2s;
        animation-delay:2s,2s
    }
    .snowflake:nth-of-type(5){
        left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;		
}

.block1 {
  background :rgba(147, 192, 23, 0.767)
}
table{
  position: static;
  height : 50%;
  margin: 40px;
}

thead th {
  background: rgb(24, 226, 24);
  color :rgb(243, 11, 11);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  padding : 10px;
 
}
tr {

 background :#ec0e0e;
 border-bottom: 2px solid #fff;
 margin-bottom:  5px;
}
td  {
  text-align: left;
  width :33.3333%;
  padding:  15px;
}